{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="text-center">Salut</h1>
<p class="fw-bold">Hello</p>
{{ render(controller('App\\Controller\\FrontController::banner')) }}
{{include('includes/aboutus/index.html.twig')}}

{% endblock %}
