
parameters:
    excludePaths:
    - src/Security
    ignoreErrors:
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
