{% extends 'base.html.twig' %}

{% block title %}Modification adresse |
	{{ parent() }}
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Modification adresse</h1>
	{{ include('user/address/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
