{% extends 'base.html.twig' %}

{% block title %}Nouvelle adresse
{% endblock %}

{% block body %}
	<h1 class="text-center mt-3 mb-3">Créer une nouvelle adresse</h1>

	{{ include('user/address/_form.html.twig') }}

{% endblock %}
