<h1>Bonjour</h1>

<p>Pour redéfinir un mot de passe, merci de suivre ce lien</p>

<a href="{{ url('reset_password', {token: resetToken.token}) }}">{{ url('reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera à {{ resetToken.expiresAt|date('H:i') }}</p>

<p>Merci</p>
