<form action="#basic-example-9" method="post">
	<label for="input-7-xs" class="control-label">Note le produit</label>
	<input id="input-7-xs" class="rating rating-loading" data-show-clear="false" data-show-caption="false" value="1" data-min="0" data-max="5" data-step="0.5" data-size="xs">
	<button type="submit" class="btn btn-primary">Submit</button>&nbsp;
</form>
<script>
	$(document).ready(function () {
$('#input-7-xs').rating();
});
</script>
