<div class="mb-3">
	<h5 class="mb-3 mt-3">Note moyenne des utilisateurs</h5>
	{% if rates is not empty %}
		{% set sum = 0 %}
		{% for rate in rates %}
			{% set sum = sum + rate.rating %}
		{% endfor %}
		{% set total = sum / rates|length %}
		{% for i in 1..5 %}
			{% if i <= total %}
				<i class="fas fa-star text-warning"></i>
			{% else %}
				<i class="far fa-star"></i>
			{% endif %}
		{% endfor %}
	{% else %}
		<p class="text-muted">Aucune note pour le moment</p>
	{% endif %}
</div>
