<div class="search card mb-3">
<i class="fa fa-search"></i>
    <input type="text" class="form-control" placeholder="Rechercher un produit">
    <button class="btn btn-primary">Recherche</button>
</div>

