*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: max-content;
}

.main{
    height: 500px;
    
    
}

.input-field button{
    position: absolute;top: 3px;right: 3px;color: #fff;font-size: 14px;cursor: pointer
}

.card .icons{
    position: absolute;bottom: -340px;left: 40%;transition: all 0.5s}.card:hover .icons{bottom: 40px}.card .icons span{font-size: 23px;color: white}
