<div class="container">
	<div class="align-content-center bg-light border rounded my-5">
		<div class="row p-3">
			<div class="col-lg-6">
				<h2>Newsletter</h2>
				<p>
					Inscrivez-vous à notre newsletter pour recevoir nos dernières actualités et nos offres spéciales.
				</p>
			</div>
			<div class="col-lg-6 mx-auto">
				{{ form(form) }}
			</div>
		</div>
	</div>
</div>
