<div class="col-lg mb-3">
    <h4>Service Client</h4>
    <div class="d-flex flex-column">
        <a class="text-muted" href="#">1</a>
        <a class="text-muted" href="#">2</a>
        <a class="text-muted" href="#">3</a>
        <a class="text-muted" href="#">4</a>
    </div>
</div>