<div class="col-lg mb-3">
    <h4>Service Client</h4>
    <div class="d-flex flex-column mt-3">
        <a class="text-center nav-link" href="{{ path('contact_index') }}">Formulaire de contact</a>
        {% for page in pages %}
        <a class="text-center nav-link" href="{{ path('pages', {'slug': page.slug}) }}">{{ page.name }}</a>
        {% endfor %}
    </div>
</div>