<div class="col-lg mb-3">
    <h4>Service Client</h4>
    <div class="d-flex flex-column mt-3">
        <a class="text-center nav-link" href="#">Formulaire de contact</a>
        <a class="text-center nav-link" href="#">FAQ</a>
        <a class="text-center nav-link" href="#">Mentions Légales</a>
        <a class="text-center nav-link" href="#">Crédits</a>
        <a class="text-center nav-link" href="#">Politique de retour</a>
    </div>
</div>