<div class="col-lg mb-3">
    <h4>Moyens de Paiements</h4>
    <div class="mt-3">
        <i class="fab fa-cc-mastercard fa-4x"></i>
        <i class="fab fa-cc-visa fa-4x"></i>
        <i class="fa-brands fa-cc-amex fa-4x"></i>
    </div>
</div>